<div class="order-wrapper">
  <% @orders.each do |order| %>
    <div class="order-single-wrapper">
      <div class="order-title">
        <% if order.title? %>
          <%= link_to order.title, "/orders/#{order.id}", class: "order-title-text" %>
        <% else %>
          <%= link_to "駒形ダックス#{order.id}", "/orders/#{order.id}", class: "order-title-text" %>
        <% end %>
      </div>
      <div class="order-single">
        <div class="order-content">
          <%= link_to image_tag('ownersteam.png', :class => 'ground'), "/orders/#{order.id}" %>

          <% players = ["pitcher", "catcher", "first", "second", "third", "short", "left", "center", "right", "dh"] %>
          <% positions = ["pitcher", "catcher", "first", "second", "third", "short", "left", "center", "right", "dh"] %>
          <% positions_text = ["投手", "捕手", "一塁手", "二塁手", "三塁手", "遊撃手", "左翼手", "中堅手", "右翼手", "DH"] %>

          <% for num in 1..10 do %>
            <% if order.players.find_by(position_id: num) %>
              <% players[num - 1] = order.players.find_by(position_id: num).card %>
              <%= image_tag players[num - 1].image.url, :class => "#{positions[num - 1]} #{positions[num - 1]}-img img" %>
              <!--
                <p class="#{players[num]} #{players[num]}-txt txt"><span class="position"></span><span class="name">positons_text[num - 1]</span></p>
              -->
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="paginate">
  <%= paginate @orders %>
</div>
